/* src\pages\Cardapio\styles.css */

.pagina-cardapio .container-cardapio {
    background: radial-gradient(circle, rgba(236, 223, 197, 0.842), rgba(196, 166, 121, 0.842));
    padding: 40px 20px;
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    box-sizing: border-box;
    border-radius: 12px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.685);
    border: 2px solid rgb(120, 85, 60);
    width: 100%;
    overflow-y: auto;
    text-align: center;
    margin-top: 0px;
    overflow-x: hidden;
}

.pagina-cardapio {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 125px;
    overflow-x: hidden;
}
  
.pagina-cardapio .container-cardapio h2 {
    margin-top: 0;
    margin-bottom: 20px;
    color: rgba(92, 83, 69, 0.842);
    text-shadow: 0px 0px 1px #1d1c1c;
}
  
.pagina-cardapio .container-cardapio .link-cadastro {
    border: 2px solid rgb(120, 85, 60);
    border-radius: 8px;
    padding: 10px 20px;
    text-decoration: none;
    color: rgba(63, 57, 47, 0.842);
    background-color: #976e479d;
    transition: background-color 0.3s, color 0.3s;
    margin-bottom: 10px;
    text-shadow: 0px 0px 1px #4d382a;
    margin-top: 10px;
}

.pagina-cardapio .container-cardapio .link-cadastro:hover {
    background-color: rgb(120, 85, 60);
}

.pagina-cardapio .background .background-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    z-index: -1;
    box-shadow: 0 0 150px #1d1c1c;
}